<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TechBox</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- Bootstrap CSS v5.2.1 -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>

  <body >
    <header>
      <nav>
        <div class="containers">
          <a href="http://localhost:9010">
            <img id="img1" src="{% static 'img/tech2.png' %}" alt="logo-principal">
          </a>
          <p>¡APROVECHA: envios gratis <br> por compras sobre: $29.990!</p>
          <form action="https://www.google.com/search" method="get" class="search-bar">
            <input type="text" placeholder="Buscador de productos ...            " name="q">
            <button type="submit"><img src="{% static 'img/search.png' %}" alt=""></button>
          </form>
        </div>
        <nav class="navegacion">
          <a href="" class="x"><img src="" alt=""></a>
          <div class="interior">
            <ul>
              <li><a href="{% url 'home' %}">Inicio</a></li>
              <li><a href="{% url 'productos' %}">Productos</a></li>
              <li><a href="{% url 'tabla' %}">Tabla</a></li>
              <li><a href="{% url 'contacto' %}">Contacto</a></li>
              <li><a href="{% url 'carrito' %}">Carrito</a></li>
            </ul>
          </div>
        </nav>

      </nav>

    </header>
    
    <div id="principal">
      {% block contenido %}  
      
      {% endblock %}
    </div>
    <footer class="footer">
      <div class="footer container-fluid">
        <div class="row p-4 bg-dark text-white">
          <div class="col-xs-12 col-md-6 col-lg-3">
            <figure class="wpb_wrapper vc_figure">
              <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="250" height="60" src="{% static 'img/tech1.png' %}" class="vc_single_image-img attachment-full" alt="" loading="lazy"></div>
            </figure>
            <div class="address">
              <ul>
              <li>Dirección: Freire 862, San Bernardo, Santiago de Chile.</li>
              <li>Fono: <a href="tel:+569 3 000 46 18">+569 8 000 46 18</a></li>
              <li>Email: &nbsp;<a href="mailto:web@innovamak.cl">web@PCMania.cl</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-md-6 col-lg-3">
            <p class="h5 mb-3" style="color: red; font-weight: bold;">Productos</p>
            <div class="mb-2">  
              <a class="text-white text-decoration-none" href="#">Top ventas</a>
            </div>
            <div class="mb-2">  
              <a class="text-white text-decoration-none" href="#">Promociones</a>
            </div>
            <div class="mb-2">  
              <a class="text-white text-decoration-none" href="#">Más vendidos</a>
            </div>
          </div>
          <div class="col-xs-12 col-md-6 col-lg-3">
            <p class="h5 mb-3" style="color: red; font-weight: bold;">Cuenta</p>
            <div class="mb-2">  
              <a class="text-white text-decoration-none" href="#">Mi cuenta</a>
            </div>
            <div class="mb-2">  
              <a class="text-white text-decoration-none" href="#">Checkout</a>
            </div>
            <div class="mb-2">  
              <a class="text-white text-decoration-none" href="#">Mis compras</a>
            </div>
          </div>
          <div class="col-xs-12 col-md-6 col-lg-3">
            <p class="h5 mb-3" style="color: red; font-weight: bold;">Más información</p>
            <div class="mb-2">  
              <a class="text-white text-decoration-none" href="#">Nosotros</a>
            </div>
            <div class="mb-2">  
              <a class="text-white text-decoration-none" href="#">Contacto</a>
            </div>
          </div>   
        </div>
      </div>
    </footer>
  </body>
</html>