<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <title>mi primer página web</title>
        <meta name="description" content="Esta es mi primer pagina web"/>
        <meta name="author" content="Nacho"/>
        <meta name "keywords" content=", tag, para, utilizar"/>
        <link rel="stylesheet" href="">
        <!-- Boxicons CSS -->
        <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    </head>
    {% comment %} {% block contenido %} {% endcomment %}
    <body>
        <div class="sidebar">
            <div class="logo-details">
                <span class="logo_name">TechBox</span>
                 
            </div>
        </div>
    </body>
    {% comment %} {% endblock %} {% endcomment %}

</html>

